/// Ubuntu font family
$ubuntu-font: 'Ubuntu', sans-serif !default;
/// Overpass  font family
$overpass-font: 'Overpass', sans-serif !default;

/// Copy text color
$main-text: hsl(0, 0%, 100%) !default;

// Primary Colors
/// Light red  (call-to-action text)
$lred-text: hsl(356, 100%, 66%) !default;
/// Very light red (CTA hover background)
$xlred-text: hsl(355, 100%, 74%) !default;
///  Very dark blue (headings)
$dblue-text: hsl(208, 49%, 24%) !default;

// Neutral Colors
// Grayish blue (footer text)
$grayish-blue: hsl(240, 2%, 79%) !default;
// Very dark grayish blue (body copy)
$dark-greyish: hsl(207, 13%, 34%) !default;
// Dark Blue (footer background):
$dark-blue: hsl(240, 10%, 16%) !default;

// Gradient Colors
// Background gradient - Intro/CTA mobile nav:
$xlred: hsl(13, 100%, 72%) !default;
$lred: hsl(353, 100%, 62%) !default;
// Very dark grayish blue (body copy)
$dark-gray: hsl(237, 17%, 21%) !default;
$dark-desaturated: hsl(237, 23%, 32%) !default;

/// Container's maximum width
$max-width: 1440px !default;

//  Breakpoints
$breakpoints: (
  'small': 550px,
  'medium': 768px,
  'large': 1024px
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../../images' !default;
