.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (min-width: 481px) {
  .hidden_desktop {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hidden_mobile {
    display: none;
  }
}
