// ## Colors

// ### Primary

$clr-dark-blue: hsl(233, 26%, 24%);
$clr-green: hsl(136, 65%, 51%);
$clr-bright-cyan: hsl(192, 70%, 51%);

// ### Neutral

$clr-grayish-blue: hsl(233, 8%, 62%);
$clr-light-grayish-blue: hsl(220, 16%, 96%);
$clr-very-light-gray: hsl(0, 0%, 98%);
$clr-white: hsl(0, 0%, 100%);

// Fonts

// Font Size
$fs-base: 18px;

// Font Family
$ff-public-sans: 'Public Sans', sans-serif;

// Font Weight
$fw-extra-light: 300;
$fw-regular: 400;
$fw-bold: 700;
