html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  color: $main-text;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  color: $main-text;
  text-decoration: none;
}
