body {
  font: normal 16px $ubuntu-font;
  color: $dark-greyish;
}

h2 {
  color: $dblue-text;
}
main {
  line-height: 25px;
  text-align: center;
}

.navigation {
  &__list {
    text-align: center;
    &-item {
      & > div {
        color: $dblue-text;
        font-size: 1.25rem;
        font-weight: 500;
        &:hover {
          color: $dark-blue;
        }
      }
      &--dropdown-open > div {
        color: $dark-blue;
      }
      &-dropdown {
        background-color: $grayish-blue;
        & * {
          color: $dark-greyish;
          font-weight: 600;
          &:hover {
            color: $dblue-text;
          }
        }
      }
    }
  }
  &__buttons {
    font-weight: 500;
    font-size: 1.05rem;
    & > a:first-child:hover {
      color: $main-text;
      background: linear-gradient(to right, $xlred, $lred);
    }
    & > a:last-child {
      background: linear-gradient(to right, $xlred, $lred);
      color: $main-text;
      &:hover {
        color: $dblue-text;
        background: $main-text;
      }
    }
  }
}

.call-to-action {
  text-align: center;
  &__headline {
    font-size: 2rem;
    font-weight: 400;
    color: $main-text;
  }
  &__text {
    font-size: 1.25rem;
    font-weight: 300;
  }
  &__buttons {
    font-size: 1.125rem;
    font-weight: 700;
    a:first-child {
      color: $lred-text;
      background-color: $main-text;
    }
  }
}

.introduction {
  &__heading {
    font-size: 1.75rem;
    font-weight: 600;
    color: $dblue-text;
  }
  &__benefits {
    &-title {
    }
    &-text {
    }
  }
}

.presentation {
  color: $main-text;
  &__title {
    line-height: 50px;
    font-size: 2.25rem;
    color: $main-text;
    font-weight: 500;
  }
  &__text {
    line-height: 30px;
  }
}

.footer {
  &__navigation {
    text-align: center;
    & ul {
      margin: 0;
      padding: 0;
      & > li:first-child {
        font-weight: 600;
      }
    }
  }
}
