@import 'variables';
@import 'media-queries';

//Navbar Styles
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  position: relative;
  font-size: 0.85rem;
  max-width: 1440px;
  margin: 0 auto;

  &__logo {
    cursor: pointer;
  }

  &__list {
    justify-content: space-between;
    display: none;
    @include desktop {
      display: flex;
      align-items: center;
    }

    &-item {
      text-decoration: none;
      color: $white;
      margin-left: 3em;
    }
  }
  #button {
    padding: 1em 1.7em;
    background-color: $white;
    border-radius: 50px;
    color: $dark-blue;
    font-family: $ff-fraunces;
    font-weight: $fw-bold;
    border-style: none;
    transition: all 0.3s ease;

    &:hover {
      color: $white;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease;
    }
  }

  &__menu {
    cursor: pointer;
    &:hover,
    &:focus {
      fill-opacity: initial;
    }
    @include desktop {
      display: none;
    }
  }
  &__list--toggler {
    display: flex;
    flex-direction: column;
    width: 85%;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: white;
    margin-top: 7em;
    padding: 1em;

    .navbar__list-item {
      color: $dark-grayish-blue;
      font-size: 1rem;
      margin: 0;
      padding: 1.2em 5.8em;
    }
    #button {
      font-size: 0.9rem;
      background-color: $yellow;
      margin: 1em auto;
      color: $very-dark-desaturated-blue;
    }
    #button:hover {
      color: $very-dark-desaturated-blue;
      background-color: yellow;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-bottom-color: $white;
      border-top: 0;
      border-right: 0;
      margin-left: -10px;
      margin-top: -20px;
    }
  }
}
