@import 'variables';
@import 'media-queries';
@import 'navbar';
@import 'main-content';
@import 'footer-content';
* {
  margin: 0%;
  box-sizing: border-box;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  font-family: $ff-barlow;
  font-weight: $fw-bold;
  font-size: $fs-body;
}

.header {
  background: url(/images/mobile/image-header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;

  &__text {
    font-size: 2.5em;
    font-family: $ff-fraunces;
    font-weight: $fw-bold;
    margin: 2.255em 0;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $white;
  }
  @include desktop {
    background: url(/images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    &__text {
      font-size: 3em;
      margin: 1.7em 0;
      margin-bottom: 1.85em;
    }
  }
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
footer {
  max-width: 1440px;
  margin: 0 auto;
}
