footer {
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  border-radius: 0 100px 0 0;
  color: $main-text;
  padding: 5em 0;
}

.footer {
  &__logo {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  &__navigation {
    margin: 0 auto;
    & ul {
      margin: 0;
      padding: 0;

      & li {
        margin-bottom: 0.75em;
      }
      & > li:first-child {
        margin-top: 3em;
        margin-bottom: 2em;
      }
    }
  }
}
