.introduction {
  margin-bottom: 17.5em;

  &__heading {
    margin-bottom: 2em;
  }
  &__image {
    height: 22em;
    position: relative;
    div {
      background-image: url('/blogr/images/illustration-editor-mobile.svg');
      background-repeat: no-repeat;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  &__benefits {
    &-title {
      padding: 0 2em;
    }
    &-text {
      margin-bottom: 6em;
    }
  }
}

.presentation {
  background: linear-gradient(to bottom, $dark-gray, $dark-desaturated);
  border-radius: 0 100px 0 100px;
  position: relative;
  margin-bottom: 3em;
  &__background-image {
    background-image: url(/blogr/images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: bottom;
    position: absolute;
    height: 24em;
    width: 100%;
    border-radius: 0 100px 0 100px;
  }
  &__image {
    position: absolute;
    top: -200px;
    z-index: 5;
  }
  &-separator {
    padding-top: 12.5em;
    padding-bottom: 7em;
    position: relative;
  }
  &__text {
    opacity: 85%;
  }
}

.reinforcement {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  &__background-image {
    background-image: url('/blogr/images/illustration-laptop-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 24em;
    width: 100%;
  }
  &__benefits-text {
    padding: 0 0.35em;
    margin-bottom: 3em;
  }
  margin-bottom: 4em;
}
